<div class="my-3">
  <h5 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h5>
  <p [ngClass]="{'strike': !todo.active}">{{todo.desc}}</p>
    <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="onCheckboxClick(todo)"
      [checked]="!todo.active">
    <label class="form-check-label" for="exampleCheck1{{i}}">Done</label>
    <button mat-icon-button color="primary" (click)="onClick(todo)"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button color="warn" (click)="onClick(todo)"><mat-icon>delete</mat-icon></button>
</div>